# node
api/node_modules/
api/.env
frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-error.log
api/server/newUserController.js

# expo
frontend/.expo
frontend/__generated__
frontend/web-build

# VSCode
.history/
.vs

# VS
.vs
.suo
.vs/slnx.sqlite
.vscode
VSWorkspaceState.json

